<%= form_with(url: "/static_pages", method: "get") do%>
  <%= label(:flickr_username, "Flickr username:") %>
  <%= text_field_tag(:flickr_username, @flickr_username) %>
  <%= submit_tag("Search for Photos") %>
<% end %>

<% if @flickr_username %>
  <% if @error %>
    <%= @error %>
  <% else %>
    <%= "#{@flickr_username} Flickr photos:" %>
    <p>
      <% @photo_urls.each do |photo_url| %>
        <p>
          <%= image_tag(photo_url) %>
        </p>
      <% end %>
    </p>
  <% end %>
<% end %>